<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>E-ticket Status</h1>
    <h2>Name : {{var}}</h2>
    <h2>Email Id: {{var1}}</h2>
    <h2>Aadhar Number: {{var2}}</h2>
    <h2>Travelling from: {{var3}},District:{{var4}}</h2>
    <h2>Travelling to: {{var5}},District:{{var6}}</h2>
    <h2>PhoneNumber: {{var7}}</h2>
    <h2>Date of travel:{{var8}}</h2>
    <h2>status:{{var9}}</h2>
    
</body>
</html>